<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AboutCanada.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB004EB9254D1E6D00C360E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB004ECF254D1E7300C360E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB2B6519255AD6B2000D30B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
